<h1>Novo livro</h1>
<div>
  <%= link_to "Voltar", livros_path, class:"btn btn-secondary" %>
</div>
<hr>
<%# <%= render "form", livro: @livro %>
<form action="/livros" accept-charset="UTF-8" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" autocomplete="off">
  <div class="mb-3">
    <label for="livro_nome" class="form-label">Nome</label>
    <input type="text" class="form-control" name="livro[nome]" id="livro_nome">
  </div>
  <div class="mb-3">
    <label for="livro_editora" class="form-label">Editora</label>
    <input type="text" class="form-control" name="livro[editora]" id="livro_editora">
  </div>
  <div class="mb-3">
    <label for="livro_autor" class="form-label">Autor</label>
    <input type="text" class="form-control" name="livro[autor]" id="livro_autor">
  </div>
  <div class="mb-3">
    <label for="livro_preco" class="form-label">Preço</label>
    <input type="number" class="form-control" name="livro[preco]" id="livro_preco">
  </div>
  <button name="commit" value="Create Livro" type="submit" class="btn btn-primary">Criar livro</button>
</form>
